/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Source+Sans+Pro:300,400');

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* global stuff */

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 4em;
}

/* FIrst background Image */

.header {
    
    background:  url("../img/03.jpeg");
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    background-attachment: fixed;


}

/* navigation */

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    color: #F9F8F8;
    padding: 1em;
    margin-top: 1em;

    transition: ease-in-out 250ms;
   
}

nav a:hover, nav a:focus, nav a:active {
    transform: translateY(3px);
    color: rgba(249, 248, 248, 0.726);
}




/* Hero Image and content */

.hero {
    display: flex;
    
    flex-direction: column;
    height: 70vh;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 2em;

    background: rgba(110, 113, 120, 0.507); 
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041; 
    box-shadow: 0px 0px 11px 0px #0000003d;


}


@keyframes fadeinDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }

    88% {
        opacity: 1;
    }

    100% {
      opacity: 0;  
    }
}


@keyframes fadeinUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }

    88% {
        opacity: 1;
    }
    
    100% {
      opacity: 0;  
    }
}





.main-header, .main-header1, .main-header2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 4em;

    margin: -50px 0 0 0;

    text-align: center;
    text-transform: uppercase;

    color: #F9F8F8;

    animation: fadeinDown 9s infinite;

    
}


.main-text, .main-text1, .main-text2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 35em;
    min-width: 90%;
    font-size: 1.3em;
    word-spacing: 2px;
    line-height: 1.2;
    color: #F9F8F8; 
    animation: fadeinUp 9s infinite;
    
}


/* =============================== 
    SECTION TWO
==================================*/



.content {
    background-image: url("../img/01.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 250vh;
    width: 100%;

    

} 

.content-title {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: .3em;
    color: #1D3557;
    /* display: none; */
}

.content-text {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 10px;
    color: #1D3557;
    max-width: 30em;
}

.section-info {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: rgba(245, 245, 245, 0.493);
    border-radius: 2em;

    -webkit-box-shadow: 0px 0px 11px 0px #00000041; 
    box-shadow: 0px 0px 11px 0px #0000003d;

    
}

.section-content {
    overflow: hidden;
    min-width: 15em;
    max-width: 20em;
    height: 20em;
    text-align: center;
    color: #1D3557;
    padding: 1em;

    margin: 1em;
    border-bottom: 2px solid white;
}

#code, #paint-brush {
    font-size: 6em;
}

#code {
    color: #1D1E18;
    background: #CA054D;
    padding: 1rem;
    border-radius: 20%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041; 
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#paint-brush {
    color: #1D1E18;
    background: #43AA8B;
    padding: 1rem;
    border-radius: 20%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041; 
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#handshake {
    font-size: 5em;

    color: #1D1E18;
    background: #FEB95F;
    padding: 1.5rem 1rem;

    border-radius: 20%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041; 
    box-shadow: 0px 0px 11px 0px #0000003d;
}

.section-header {

    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}

.section-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}




/* ===========================================
===============================================
 */

 .content-2{
    width: 100%;
    height: 100vh;
 }

 .content-2-img {
     position: relative;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;

     filter: blur(3px);
 }