@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Raleway');

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
*/


/* global stuff */

html {
    position: relative;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -moz-linear-gradient(135deg, #F05F57 10%, #360940 100%);
    background-image: -webkit-linear-gradient(135deg, #F05F57 10%, #360940 100%);
    
    /* url("../img/pine.jpeg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;

    
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.2em;
}

p {
    font-family: 'Libre Franklin', sans-serif; 
}

@media (max-width: 363px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 3em;
    }
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* FIrst background Image */

.header {
    /* background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%); */
    /* url("../img/leavy.jpeg"); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;


    /* background-attachment: fixed; */
}


/* navigation */

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding-left: 1.65em; */
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    color: #eee;
    padding: .7em;
    margin-top: 1em;
    transition: ease-in-out 250ms;
}

@media (max-width: 363px) {
    nav a {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1em;
        text-decoration: none;
        color:rgb(255, 255, 255);
        padding: .7em;
        margin-top: 1em;
        transition: ease-in-out 250ms;
    }
}

nav a:hover,
nav a:focus,
nav a:active {
    transform: translateY(3px);
    color: rgba(238, 238, 238, 0.692);
}


/* Hero Image and content */

.hero:nth-child(1) {
    display: flex;
}

.hero {
    display: none;
    flex-direction: column;
    height: 80%;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-top: 2em;
    /* background: rgba(10, 17, 40, 0.623); */
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

@keyframes fadeinDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeinUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-header,
.main-header1,
.main-header2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    margin: -50px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #F9F8F8;
    animation: fadeinDown 9s infinite;
    text-shadow: -5px -5px 0 rgb(0, 0, 0);
    transition: ease-out 300ms;

   
}


.main-text,
.main-text1,
.main-text2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 35em;
    min-width: 90%;
    font-size: 1.5em;
    word-spacing: 2px;
    line-height: 1.2;
    color: #F9F8F8;
    animation: fadeinUp 9s infinite;
}

@media (max-width: 363px) {
    .main-header,
    .main-header1,
    .main-header2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 3em;
        margin: -50px 0 0 0;
        text-align: center;
        text-transform: uppercase;
        color: #F9F8F8;
        animation: fadeinDown 9s infinite;
        
    }
    .main-text,
    .main-text1,
    .main-text2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-align: center;
        max-width: 35em;
        min-width: 90%;
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.2;
        color: #F9F8F8;
        animation: fadeinUp 9s infinite;
    }
}


/* =============================== 
    SECTION TWO
==================================*/

@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content-title {
    width: 80%;
    height: 23em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .3em;
    color: #eee;
    display: flex;
    /* animation: fadeIn 1s ease-in; */
    opacity: 0;
    text-shadow: -5px -5px 0 rgb(0, 0, 0);
    transition: ease-out 300ms;
}


.content-text {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    color: #eee;
    max-width: 30em;
    display: flex;
    opacity: 0;
}



@media (max-width: 363px) {
    .content-text {
        font-size: 1em;
    }
}

.section-info {
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: rgba(10, 17, 40, 0.623); */
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
    padding-top: 1em;
    /* animation: fadeIn 1s ease-in; */
    opacity: 0;
}

.section-content {
    overflow: hidden;
    min-width: 15em;
    max-width: 20em;
    height: 20em;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 1em;
}

#code {
    color: #1D1E18;
    background: #CA054D;
    padding: 1rem;
    font-size: 6em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
    transition: ease-in-out 350ms;
}

#paint-brush {
    color: #1D1E18;
    background: #43AA8B;
    padding: .5em;
    font-size: 4.2em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
    transition: ease-in-out 350ms;
}

#handshake {
    font-size: 5em;
    color: #1D1E18;
    background: #FEB95F;
    padding: 1.5rem 1rem;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
    transition: ease-in-out 350ms;
}


.section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    transition: ease-out 300ms;

    text-shadow: -5px -5px 0 rgb(0, 0, 0);
}

.section-header:hover {
    transform: skew(-8deg);
    text-shadow: -7px -7px 0 rgb(0, 0, 0);
}

.section-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
}

@media (max-width: 363px) {
    .section-header {
        font-size: 2em;
    }
    .section-text {
        font-size: .8em;
    }
    .section-content {
        height: 16em;
    }
}


/* ================================================================ */

.test-box {
    width: 90%;
    margin: 0 auto;
    /* background: rgba(10, 17, 40, 0.623); */
    border-radius: 1em;
    display: flex;
    align-items: center;
    opacity: 0;

    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

.comment-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.comment-box img {
    max-width: 15em;
    border-radius: 50%;
    margin: 2em;
    -webkit-box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
    transition: ease-in-out 350ms;
}

.comment-box img:hover,
.comment-box img:focus {
    transform: scale(1.05);
}

.comment-section {
    width: 30em;
    height: 25em;
}

.comment-header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3em;
    text-align: center;
}


/* ===================== */

.mb-wrap {
    margin: 20px auto;
    padding: 20px;
    position: relative;
    max-width: 27em;
}

.mb-wrap p {
    margin: 0;
    padding: 0;
}

.mb-wrap blockquote {
    margin: 0;
    padding: 0;
    position: relative;
}

.mb-wrap cite {
    font-style: normal;
}

.mb-style-2 blockquote {
    padding-top: 150px;
    text-align: center;
}

.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 rgba(254, 95, 95, 0.596);
    border-radius: 50% 50% 50% 50%;
    color: rgb(255, 255, 255);
    content: "âž";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}

.mb-style-2 blockquote p {
    box-shadow: 0 -6px 0 rgba(254, 95, 95, 0.5);
    color: rgb(255, 255, 255);
    display: inline;
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 28px;
    line-height: 46px;
}

.mb-attribution {
    text-align: right;
}

.mb-author {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-right: 3em;
}


/* ============================================================================ */
/* Gallery 
===========================================================*/


.gallery-box {
    /* background: #1D1E18; */
    margin-top: 4em;
    padding-bottom: 2em;
    padding-top: 4em;
 
}

.knockout-text {
    color: rgb(255, 255, 255);
    
    margin: 0 auto;
    width: 5em;
    
    text-shadow: -5px -5px 0 rgb(0, 0, 0);
    
    font-size: 7vw;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    transition: ease-out 300ms;
    cursor: default;

}

.knockout-text:hover {
    transform: skew(-8deg) rotateY(8deg);
    text-shadow: -7px -7px 0 rgb(0, 0, 0);
}



@media (max-width: 600px){
    .knockout-text{
        font-size: 12vw;
    }
}


.gallery {
    width: 100%;
    max-width: 900px;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 15em;
  
    overflow: hidden;
    height: 10em;
    margin: .7em;
    cursor: pointer;
    transition: ease-out 150ms;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.5); 
    
}


.content:hover,
.content:focus,
.content:active {
    transform: translateY(-5px) scale(1.05);
    box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.5);
}

.content img {
    /* height: 90%; */
    width: 100%;
    object-fit: contain;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.521);
    display: none;

}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.89);

    background: #000000bd;
    width: 90%;
    max-height: 100%;
    max-width: 1200px;
    padding: 0;
    border-radius: .5em;
    animation: comeDown .3s ease-in;
    
}

@keyframes comeDown {
    0% {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.close {
    position: absolute;
    font-size: 2.4em;
    color: white;
    right: 20px;
    top: 8px;
    transition: ease-out 250ms;
    z-index: 99;
    
}

.close:hover,
.close:focus {
    color: rgb(116, 116, 116);
    cursor: pointer;
}

.numbertext {
    color: #f2f2f2;
    font-size: 1em;
    padding: 24px 12px;
    position: absolute;
    top: 0;
    left: 1em;
}

.mySlides {
    /* change from none to flex */
    display: none;
    padding: 1em;
}

@media (max-width: 800px) {
    .mySlides {
        /* change from none to flex */
        display: none;
        flex-direction: column;
    }
}

.mySlides img {

    width: 70%;
    height: 70%;
}

@media (max-width: 800px) {
    .mySlides img {
        /* change from none to flex */

        width: 100%;
    }
}

.description {
    color: white;
    position: relative;
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: left;
    

    display: flex;
    flex-direction: column;
}

.description h2 {
    margin: 0;
    margin-top: .5em;
    font-size: 2em;
    text-transform: capitalize;
}

.description p {
    margin-bottom: 2em;
    font-size: .9em;
    margin-right: 2em;
}

.description a {
    color: white;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: .2em;
    padding: 1em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: all ease-out 250ms;
}

@media (max-width:400px) {
    .description a {
        font-size: .7em;
        width: 150px;
        padding: .8em;
    }
    .description h2 {
        font-size: 1.5em;
    }
    .description p {
        font-size: .8em;
    }
}

@media (max-width: 800px) {
    .description a {
        font-size: .75em;
        width: 150px;
        padding: .8em;
    }
}

.description a:hover,
.description a:focus,
.description a:active {
    background: rgba(255, 255, 255, 0.6);
    color: black;
}




@media (max-width: 800px) {
    .description {
        margin-top: 0;
        padding: 1em;
        margin-bottom: 0;
    }
    .caption {
        margin: 0;
        font-size: 2em;
    }
}

.next,
.prev {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgba(255, 255, 255, 0.253);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.185);
    color: rgba(255, 255, 255, 0.719);
}

@media (max-width: 600px) {
    .next,
    .prev {
        top: 30%;
    }
}


/* contact form */
/* =========================================================== */


.contact-container {
    width: 100%;
    height: 100%;
    padding: 3em;
    margin: 0;
    /* background: rgb(78, 4, 78); */
    color: white;
}

.contact-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.486);
}

.contact-header {
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.form-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.form-content form p {
    margin: 0;
}
.form-content form p label {
    padding-bottom: .5em;
}

.form-content form .full {
    grid-column: 1 / 3;
}

.form-content form input,
.form-content form textarea {
    width: 100%;
    padding: .4em;
    border: 0;
    outline: none;
}

.form-content form input[type="text"], 
.form-content form textarea {
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
}

.form-content form button {
    background: coral;
    padding: 1em;
    width: 10em;
    cursor: pointer;
    color: white;
    border: 1px solid coral;
    text-transform: uppercase;
    transition: ease-out 250ms;
    border-radius: .2em;
}

.form-content form button:hover,
.form-content form button:focus{
    background: white;
    color: coral;
    outline: 0;
}

@media (max-width: 800px) {
    .form-content form {
        grid-template-columns: 1fr;
    }
    .form-content p {
        grid-column: 1 / 2;
    }
    .form-content form .full {
        grid-column: 1 / 2;
    }
}

@media (max-width:600px) {
    .contact-wrapper {
        width: 100%;
        border-radius: 0; 
    }
    .contact-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social {
    font-size: 2.3em;
  
    margin-bottom: 1em;
}

.social > * {
    margin-left: .5em;
    margin-right: .5em;
    color: white;
    transition: ease 250ms;
    cursor: pointer;
}

.social > *:hover,
.social > *:focus,
.social > *:active {
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.644);
}

.footer-info {
    margin-bottom: 1em;
    line-height: 1.5;
}

.footer-info span {
    color: white;
    font-size: 18px;
    display: block;
}

