@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Raleway');

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
*/


/* global stuff */

html {
    position: relative;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    /* url("../img/pine.jpeg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 2em;
    margin: 0 auto;

    
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.2em;
}

@media (max-width: 363px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 3em;
    }
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* FIrst background Image */

.header {
    /* background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%); */
    /* url("../img/leavy.jpeg"); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;


    /* background-attachment: fixed; */
}


/* navigation */

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding-left: 1.65em; */
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    color: #eee;
    padding: .7em;
    margin-top: 1em;
    transition: ease-in-out 250ms;
}

@media (max-width: 363px) {
    nav a {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1em;
        text-decoration: none;
        color:rgb(10, 17, 40);
        padding: .7em;
        margin-top: 1em;
        transition: ease-in-out 250ms;
    }
}

nav a:hover,
nav a:focus,
nav a:active {
    transform: translateY(3px);
    color: rgba(238, 238, 238, 0.692);
}


/* Hero Image and content */

.hero:nth-child(1) {
    display: flex;
}

.hero {
    display: none;
    flex-direction: column;
    height: 80%;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    background: rgba(10, 17, 40, 0.623);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

@keyframes fadeinDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeinUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-header,
.main-header1,
.main-header2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    margin: -50px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #F9F8F8;
    animation: fadeinDown 9s infinite;
}

.main-text,
.main-text1,
.main-text2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 35em;
    min-width: 90%;
    font-size: 1.5em;
    word-spacing: 2px;
    line-height: 1.2;
    color: #F9F8F8;
    animation: fadeinUp 9s infinite;
}

@media (max-width: 363px) {
    .main-header,
    .main-header1,
    .main-header2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 3em;
        margin: -50px 0 0 0;
        text-align: center;
        text-transform: uppercase;
        color: #F9F8F8;
        animation: fadeinDown 9s infinite;
    }
    .main-text,
    .main-text1,
    .main-text2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-align: center;
        max-width: 35em;
        min-width: 90%;
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.2;
        color: #F9F8F8;
        animation: fadeinUp 9s infinite;
    }
}


/* =============================== 
    SECTION TWO
==================================*/

@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content-title {
    width: 80%;
    height: 23em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .3em;
    color: #eee;
    display: flex;
    /* animation: fadeIn 1s ease-in; */
    opacity: 0;
}

.content-text {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    /* font-weight: 300; */
    font-size: 1.3em;
    margin-top: 10px;
    color: #eee;
    max-width: 30em;
    display: flex;
    /* animation: fadeIn 1s ease-in; */
    opacity: 0;
}

/* #content-header {
    animation-duration: 2s;
}

#content-text {
    animation-duration: 2s;
} */

@media (max-width: 363px) {
    .content-text {
        font-size: 1em;
    }
}

.section-info {
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(10, 17, 40, 0.623);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
    padding-top: 1em;
    /* animation: fadeIn 1s ease-in; */
    opacity: 0;
}

.section-content {
    overflow: hidden;
    min-width: 15em;
    max-width: 20em;
    height: 20em;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 1em;
}

#code {
    color: #1D1E18;
    background: #CA054D;
    padding: 1rem;
    font-size: 6em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#paint-brush {
    color: #1D1E18;
    background: #43AA8B;
    padding: .5em;
    font-size: 4.2em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#handshake {
    font-size: 5em;
    color: #1D1E18;
    background: #FEB95F;
    padding: 1.5rem 1rem;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

.section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}

.section-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
}

@media (max-width: 363px) {
    .section-header {
        font-size: 2em;
    }
    .section-text {
        font-size: .8em;
    }
    .section-content {
        height: 16em;
    }
}


/* ================================================================ */

.test-box {
    width: 90%;
    margin: 0 auto;
    background: rgba(10, 17, 40, 0.623);
    border-radius: 1em;
    display: flex;
    align-items: center;
    opacity: 0;
}

.comment-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.comment-box img {
    max-width: 15em;
    border-radius: 50%;
    margin: 2em;
    -webkit-box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 13px 67px 8px rgba(0, 0, 0, 0.75);
}

.comment-section {
    width: 30em;
    height: 25em;
}

.comment-header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3em;
    text-align: center;
}


/* ===================== */

.mb-wrap {
    margin: 20px auto;
    padding: 20px;
    position: relative;
    max-width: 27em;
}

.mb-wrap p {
    margin: 0;
    padding: 0;
}

.mb-wrap blockquote {
    margin: 0;
    padding: 0;
    position: relative;
}

.mb-wrap cite {
    font-style: normal;
}

.mb-style-2 blockquote {
    padding-top: 150px;
    text-align: center;
}

.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 rgba(254, 95, 95, 0.596);
    border-radius: 50% 50% 50% 50%;
    color: rgb(255, 255, 255);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}

.mb-style-2 blockquote p {
    /* background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5);  */
    box-shadow: 0 -6px 0 rgba(254, 95, 95, 0.5);
    color: rgb(255, 255, 255);
    display: inline;
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 28px;
    line-height: 46px;
}

.mb-attribution {
    text-align: right;
}

.mb-author {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-right: 3em;
}


.gallery {
    height: 100vh;
    background: rgba(51, 51, 51, 0.377);
    margin-top: 2em;
}