@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Raleway');

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
*/


/* global stuff */

html {
    background-image: url("../img/pine.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.2em;
}


/* FIrst background Image */

.header {
    background: url("../img/leavy.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}


/* navigation */

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding-left: 1.65em; */
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em;
    margin-top: 1em;
    transition: ease-in-out 250ms;
}

nav a:hover,
nav a:focus,
nav a:active {
    transform: translateY(3px);
    color: rgba(249, 248, 248, 0.726);
}


/* Hero Image and content */

.hero {
    display: none;
    flex-direction: column;
    height: 70vh;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    background: rgba(110, 113, 120, 0.507);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

.hero:nth-child(1){
    display: flex;
}

@keyframes fadeinDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeinUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-header,
.main-header1,
.main-header2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    margin: -50px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #F9F8F8;
    animation: fadeinDown 9s infinite;
}

.main-text,
.main-text1,
.main-text2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 35em;
    min-width: 90%;
    font-size: 1.5em;
    word-spacing: 2px;
    line-height: 1.2;
    color: #F9F8F8;
    animation: fadeinUp 9s infinite;
}


/* =============================== 
    SECTION TWO
==================================*/

@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* .content {
    background-image: url("../img/pine.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-x;

    width: 100%;
    height: 300%;

    

}  */

.content-title {
    width: 80%;
    height: 23em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.content-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: .3em;
    color: rgb(255, 255, 255);
    display: none;
    animation: fadeIn 1s ease-in;
}

.content-text {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    /* font-weight: 300; */
    font-size: 1.3em;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    max-width: 30em;
    display: none;
    animation: fadeIn 1s ease-in;
}

.section-info {
    width: 100%;
    margin: 2em auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    /* background: rgba(245, 245, 245, 0.493); */
    /* border-radius: 2em; */
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;

    animation: fadeIn 1s ease-in;

}

.section-content {
    overflow: hidden;
    min-width: 15em;
    max-width: 20em;
    height: 20em;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 1em;


}

#code {
    color: #1D1E18;
    background: #CA054D;
    padding: 1rem;
    font-size: 6em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#paint-brush {
    color: #1D1E18;
    background: #43AA8B;
    padding: .5em;
    font-size: 4.2em;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

#handshake {
    font-size: 5em;
    color: #1D1E18;
    background: #FEB95F;
    padding: 1.5rem 1rem;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px #00000041;
    box-shadow: 0px 0px 11px 0px #0000003d;
}

.section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}

.section-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
}


/* ===========================================
===============================================
 */

.content-2 {
    width: 100%;
    height: 100vh;
}

.content-2-img {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
}


/* ================================================================ */

.test-box {
    width: 100%;
    height: 100vh;
}